@{
    ViewBag.Title = Routes.GetTitile(PageTypes.Setting);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul id="subMenu">
    <li>
        <a href="/candidatestatus/index">Candidate Status</a>
    </li>
        <li>
        <a href="/category/index">Candidate Category</a>
    </li>

</ul>
<div class="p20">
</div>
