@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p20">
    <div class="d-ib">
        <ul>
            <li>
                <a href="/Company/Index">Companies</a>
            </li>
            <li>
                <a>Companies</a>
            </li>
        </ul>
    </div>
</div>

@section Scripts{}