@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p20">
    <h4>Sorry!!! The webpage you are looking for cannot be found.</h4>
    <h5>It was either removed or does not exist</h5>
</div>
@section Scripts{}
