@model Dictionary<string, Dictionary<string, int>>
<div id="container" style="width: 850px; height: @(Model.Count * 70)px;"></div>
@{
    var reqLst = string.Join(",", Model.Select(k => k.Value).Select(v => v.First().Value));
    var rectLst = string.Join(",", Model.Select(k => k.Value).Select(v => v.Skip(1).First().Value));
    var medLst = string.Join(",", Model.Select(k => k.Value).Select(v => v.Last().Value));
}
<script>
    $(function () {
        var sub = "@Html.Raw(ViewBag.Prj)" + " | " + new Date().toLocaleDateString() + " | " + new Date().toLocaleTimeString() + ' | lionats.com';
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            xAxis: {
                categories: [@Html.Raw(String.Join(",", Model.Keys.Select(k => "'" + k + "'")))],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: sub,
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' candidates',
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [
                    {
                        name: 'Medical Completed',
                        data: [@medLst],
                        color: '#2b4'
                    },
                    {
                        name: 'Recruited',
                        data: [@rectLst],
                        color: '#08d'
                    },
                    {
                        name: 'Requirement',
                        data: [@reqLst],
                        color: '#b22'
                    },


            ]
        });
    });
</script>

