@{
    ViewBag.Title = "ATS Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p20">
    <h5>Projects Status</h5>
    @{Html.RenderAction("Projects");}
    <br />
    @{Html.RenderAction("Details", "Notification");}
</div>
