@{
    ViewBag.Title = "ATS Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dashBoard">
    <h5>Projects Status</h5>
    @{Html.RenderAction("Projects");}
    <br />
    @{Html.RenderAction("Details", "Notification");}
</div>

@section Scripts{
    <script>
        $('#visaDepoList .visa-depo').click(function () {
            var $this = $(this);
            $this.unbind('click');
            $this.html('<img src="/Content/Images/busy_h.gif" />');
            $this.removeClass('btn-primary');
            $.ajax({
                url: '/candidate/setvisadeposit/',
                type: 'post',
                traditional: true,
                data: { id : $this.attr('data-id')},
                success: function (result) {
                    if (result == true) {
                        $this.html("<i class='icon-ok icon-white'></i> updated");
                        $this.css('background', "#393");
                    } else {
                        alert("Failed to update visa deposit status")
                    }

                }
            });
        });

        $('#travelPostList .update-btn').click(function () {
            var $this = $(this);
            $this.unbind('click');
            var $td = $this.parents('td');
            var sid = $(this).attr('data-status');
            $td.html('<img src="/Content/Images/busy_h.gif" />');
            $.ajax({
                url: '/travelpost/updatestatus/',
                type: 'post',
                traditional: true,
                data: { id: $td.attr('data-id'), sid:sid },
                success: function (result) {
                    if (result.status == true) {
                        $td.html(result.msg);
                    } else {
                        alert("Failed")
                    }

                }
            });
        });

        $('#passRetList .update-btn').click(function () {
            var $this = $(this);
            $this.unbind('click');
            var $td = $this.parents('td');
            var sid = $(this).attr('data-status');
            $td.html('<img src="/Content/Images/busy_h.gif" />');
            $.ajax({
                url: '/passreturn/updatestatus/',
                type: 'post',
                traditional: true,
                data: { id: $td.attr('data-id'), sid: sid },
                success: function (result) {
                    if (result.status == true) {
                        $td.html(result.msg);
                    } else {
                        alert("Failed")
                    }

                }
            });
        });

        
    </script>
}
