@model List<Rdt.CourseFinder.Entities.Company>

<table class="table table-hover table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CompanyName</td>
            <td>@item.Country</td>
        </tr>
    }
</table>


